.header {
  background-color: #fff;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 35px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.icon-header {
  height: 25px;
  width: 25px;
  margin-right: 40px;
}

.logo {
  height: 35px;
  width: auto;
}

.header-text {
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.auth {
  font-size: 17px;
  margin-left: 10px;
  padding: 0px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.auth:hover {
  background-color: grey;
  color: white;
}

.register {
  background-color: black;
  color: white;
  padding: 13px 13px;
}

.login {
  color: black;
  padding: 13px 13px;
}

.nav-text {
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding: 11px;
}

.nav-text:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.topic,
.content-type {
  display: flex;
  gap: 100px;
}

.topic {
  padding-right: 10px;
}

.content-type {
  padding-left: 10px;
  border-left: 2px solid rgba(128, 128, 128, 0.2);
}

.news {
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.break-section {
  border-width: 0px;
  height: 2px;
  width: 100%;
  background-color: rgb(58, 60, 62);
}

.recent-news {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  list-style-type: none;
  /* border: 2px solid black; */
  /* margin-left: 10%;
  margin-right: 10%; */

}

.fontfam {
  font-family: "Trafalgar", "BBC Reith Serif", Helvetica, Arial, sans-serif;
}

.recent-news1 {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

.recent-news1-img {
  width: 100%;
  height: auto;
}

.recent-news1-text {
  font-weight: 100;
  max-width: 100%;
  text-align: left;
  color: rgba(0, 0, 0, 0.795);
  margin-top: -10px;
  font-size: 14px;
}

.recent-news1-footer {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.recent-news1-detail {
  margin-top: -10px;
  margin-bottom: 25px;
}

.time {
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.place {
  padding-left: 10px;
}

.recent-news2 {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin-left: 19px;
  margin-right: 19px;
}

.recent-news2-img {
  width: 100%;
  height: auto;
}

.recent-news2-text {
  font-weight: 100;
  max-width: 100%;
  text-align: left;
  color: rgba(0, 0, 0, 0.795);
  margin-top: -10px;
  font-size: 20px;
}

.recent-news2-detail {
  margin-top: -10px;
  margin-bottom: 25px;
}

.recent-news3-text {
  font-weight: 100;
  max-width: 100%;
  text-align: left;
  color: rgba(0, 0, 0, 0.795);
  margin-top: -21px;
  margin-bottom: 37px;
  font-size: 14px;
}

.recent-news3-footer {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2)
}

.recent-news3-footer-no {
  display: flex;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.recent-news3-detail,
.recent-news3-title {
  padding-right: 10px;
}

.section-title {
  margin-top: -4px;
  justify-self: left;
  text-align: left;
}

.weekend-reads {
  display: grid;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-block: 48px;
}

.weekend-read-section {
  display: flex;
  flex-direction: row;
  /* max-width: 640px; */
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.weekend-read-section img,
.weekend-read-section p {
  display: flex;
  flex-direction: column;
}

.weekend-read-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  /* gap: 1px; */
  justify-content: center;
  gap: 20px;
  /* border: 2px solid black; */
}

.weekend-news-img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.weekend-news-text {
  font-weight: 100;
  text-align: left;
  color: rgba(0, 0, 0, 0.795);
  margin-top: -10px;
  font-size: 14px;
}


.weekend-read-article {
  display: flex;
  flex-direction: column;
}

.arts-in-motion-background {
  display: flex;
  /* or display: grid; */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically if needed */
  background-color: rgb(20, 22, 24);
  width: 100%;
  padding: 20px 0;
  margin-top: -20px;
  /* Add padding if needed */
}

/* .arts-in-motion-background {
  background-color: rgb(20, 22, 24);
  background-size: auto;
  margin-left: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
} 
*/

.section-title-arts {
  color: white;
  margin-bottom: -25px;
  margin-top: -27px;
}

.arts-in-motion-container h1,
.arts-in-motion-container h2,
.arts-in-motion-container p {
  color: white;
  border-color: white;
}

.break-section-art {
  margin-top: -40px;
  border-width: 0px;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.arts-in-motion {
  display: grid;
  justify-self: center;
  width: 80%;
  /* background-color: rgb(255, 255, 255); */
  margin-block: 48px;
}

.arts-in-motion-container {
  margin-top: 20px;
  display: grid;
  /* width: 100%; */
  /* margin-block: 8px; */
  justify-content: center;
  align-items: center;
  /* align-items: baseline; */
  /* list-style-type: none; */
  /* border: 2px solid rgb(255, 255, 255); */
  /* flex-direction: column; */
  /* margin-left: 139px; */
  /* margin-right: 139px; */
  /* text-align: left; */
}

.arts-in-motion-article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  /* border: white; */
  background-color: black;
}

.arts-in-motion-text {
  color: white;
}

.big-article-text {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  flex-wrap: wrap;
}

.big-article-color {
  color: black;
}

.big-article-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recent-news1-content:hover .recent-news1-img {
  opacity: 0.8;
  cursor: pointer;
}

.recent-news1-content:hover .recent-news1 {
  cursor: pointer;
}

.recent-news1-content:hover .recent-news1-title {
  cursor: pointer;
  text-decoration: underline;
}

.recent-news2:hover .recent-news1-img {
  opacity: 0.8;
  cursor: pointer;
}

.recent-news2:hover .recent-news2 {
  cursor: pointer;
}

.recent-news2:hover .recent-news2-title {
  cursor: pointer;
  text-decoration: underline;
}

.recent-news3-content:hover .recent-news3-title {
  cursor: pointer;
  text-decoration: underline;
}

.weekend-read-article:hover .weekend-news-img {
  opacity: 0.8;
  cursor: pointer;
}

.weekend-read-article:hover .recent-news1-title {
  cursor: pointer;
  text-decoration: underline;
}

.arts-in-motion-article:hover .arts-in-motion-img {
  opacity: 0.8;
  cursor: pointer;
}

.arts-in-motion-article:hover .big-article-container {
  cursor: pointer;
}

.arts-in-motion-article:hover .recent-news1-title {
  cursor: pointer;
  text-decoration: underline;
}

.container:hover .big-article-img {
  opacity: 0.8;
  cursor: pointer;
}

.container:hover .big-article-container {
  cursor: pointer;
}

.container:hover .recent-news1-title {
  cursor: pointer;
  text-decoration: underline;
}

.arts-in-motion-img {
  width: 100%;
  max-width: 800px;
  /* Biar gak terlalu gede */
  height: auto;
  object-fit: cover;
  /* Jaga rasio gambar */
}

.see-more p {
  font-size: 17px;
}

.see-more {
  /* justify-content: center; */
  /* align-content: center; */
  align-self: start;
  padding-inline: 10px;
  border: solid white;
  cursor: pointer;
  size: 1px;
}

.see-more:hover,
.see-more:hover p {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 98%;
  background: white;
  gap: 20px;
  margin-bottom: 45px;
}

.left-box {
  width: 68%;
  height: auto;
}

.right-box {
  width: 30%;
  height: auto;
  align-content: center;
}

.see-more-white p {
  font-size: 17px;
}

.see-more-white {
  /* justify-content: center; */
  /* align-content: center; */
  align-self: start;
  padding-inline: 10px;
  border: solid black;
  cursor: pointer;
  size: 1px;
  margin-right: 70%;
}

.see-more-white:hover,
.see-more-white:hover p {
  background-color: black;
  color: white;
}

.left-box-2 {
  width: 30%;
  height: auto;
  align-content: center;
}

.right-box-2 {
  width: 68%;
  height: auto;
}

.main-content {
  background-color: rgb(20, 22, 24);
  display: grid;
  height: 1600px;
  padding-inline: 100px;
  justify-content: center;
}


.video-page-container {
  background-color: rgb(20, 22, 24);
  max-width: 1225px;
  margin: auto;
  display: grid;
  gap: 48px;
}

.contents-container {
  background-color: rgb(20, 22, 24);
  /* position: relative; */
  display: grid;
  gap: 5px;
  height: auto;
}

.container-2 {
  justify-self: left;
}

.video {
  position: relative;
  width: 100%;
  padding-top: 1.25%;
  /* 16:9 aspect ratio (height/width * 100) */
}

.contents-color {
  color: rgb(230, 232, 234);
}

.vidoe-texts {
  display: flow-root;
}

.video-texts h2,
.video-texts p {
  margin-block-start: auto;
  /* margin-block-end: auto; */
}

.video-texts .footer {
  color: rgb(175, 177, 180);
  font-family: "BBC Reith Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.12px;
}

.tag-button span {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 60, 62);
  border: 2px solid transparent;
  outline: transparent solid 2px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  padding: 8px 10px;
  cursor: pointer;
}

.tag-button span:hover {
  background-color: antiquewhite;
  color: rgb(35, 35, 35);
}

.action-button {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  cursor: pointer;
  margin-top: 20px;
}

.action-button img {
  max-width: 1.3%;
  vertical-align: middle;
  padding-right: 10px;
  filter: invert();
}

.other-contents {
  border-top: 2px solid white;
  min-width: -webkit-fill-available;
}

.arrow {
  display: flex;
  /* Gunakan Flexbox */
  justify-content: right;
  /* Pusatkan arrow secara horizontal */
  align-items: center;
  /* Pusatkan arrow secara vertikal */
  gap: 30px;
  /* Beri jarak antar arrow */
  margin-right: 10px;
  margin-top: 20px;
}

.arrow img {
  filter: invert();
  width: 20px;
  height: auto;
  cursor: pointer;
  /* Tambahkan cursor pointer agar terlihat interaktif */
}

.videos-content {
  margin-top: 30px;
  display: flex;
  /* Gunakan Flexbox */
  justify-content: left;
  /* Pusatkan arrow secara horizontal */
  align-items: center;
  /* Pusatkan arrow secara vertikal */
  gap: 10px;
  /* Beri jarak antar arrow */
  width: 300px;
}

.video-content-dis {
  border-bottom: 2px solid rgb(175, 177, 180);
  max-width: 100%;
  flex-shrink: 0;
}

.video-content-dis img {
  width: 300px;
  height: 160px;
  cursor: pointer;
}

.video-content-text h2,
.video-content-text h3 {
  margin-top: 10px;
  color: white;
}

.video-content-text h3 {
  font-weight: lighter;
}

.video-content-text p {
  color: rgb(175, 177, 180);
}

.video-content-text-footer {
  display: flex;
  gap: 20px;
}

.date {
  border-right: 2px solid rgb(175, 177, 180);
  padding-right: 20px;
}

.video-content-dis:hover img {
  opacity: 0.8;
  cursor: pointer;
}

.video-content-dis:hover .video-content-text h2 {
  cursor: pointer;
  text-decoration: underline;
}